<script type="text/javascript">
  currentItem = <%= raw @current_item.to_json  %>
</script>

<div class="browser" data-bind="with: browser, css: { loading: browser.isLoading }">
  <!-- ko if: uploadingFiles().length > 0 -->
  <div data-bind="template: { name: 'uploading-template' }"></div>
  <!-- /ko -->
  <!-- ko if: $root.exporter.items().length > 0 -->
  <div data-bind="template: { name: 'exporter-template' }"></div>
  <!-- /ko -->
  <%= render 'shared/browser/toolbar' %>
  <table class="browser-table">
    <thead>
      <tr>
        <th class="column-icon"></th>
        <th class="column-name"><%= t('.name_column') %></th>
        <th class="column-size"><%= t('.size_column') %></th>
      </tr>
    </thead>
    <tbody>
      <tr class="hidden" id="new-directory">
        <td class="column-bt_icon">
          <%= image_tag image_path('directory.png') %>
        </td>
        <td class="column-name"><input name="name" type="text"></input></td>
        <td class="column-size"></td>
        <td class="column-controls"></td>
      </tr>
      <!-- ko foreach: items -->
      <tr data-bind="css: { selected: isSelected }, click: $parent.selectUnselect">
        <td class="column-icon">
          <img data-bind="attr: { src: preview.url }" />
          <%= bt_icon :users, :class => "overlay overlay-shared", data: { bind: "visible: shared" } %>
        </td>
        <td class="column-name">
          <a data-bind="click: $parent.go, text: name, attr: { href: url }"></a>
        </td>
        <td class="column-size">
          <span data-bind="text: humanSize"></span>
        </td>
        <td class="column-controls">
          <div>
            <%= bt_button icon: 'download', size: :xsmall, style: :link, title: t('commands.download'), data: { bind: 'click: $parent.downloadItem' } %>
            <%= bt_button icon: 'trash-o', size: :xsmall, style: :link, title: t('commands.delete'), data: { bind: 'click: $parent.deleteItem' } %>
          </div>
        </td>
      </tr>
      <!-- /ko -->
      <tr class="empty-dir-row" data-bind="visible: items().length == 0">
        <td colspan="3">
          <span class="text-muted" >
            <%= t('.directory_is_empty') %>
          </span>
        </td>
      </tr>
      <tr class="stat-row" data-bind="visible: items().length > 0">
        <td class="column-icon"></td>
        <td class="column-name">
          <span data-bind="text: stat.allHumanCount"></span>
        </td>
        <td class="column-size">
          <span data-bind="text: stat.allHumanSize"></span>
        </td>
        <td class="column-controls"></td>
      </tr>
    </tbody>
  </table>
</div>

<%= render 'shared/browser/uploader_modal' %>
<%= render 'shared/browser/exporter' %>
<%= render 'shared/browser/uploading' %>
<%= render 'shared/browser/image_viewer' %>