
<div class="browser-toolbar">
  <ul class="browser-location">
    <% @path_parts.each do | part | %>
      <% if part[:active] %>
        <li class="active"><%= part[:name] %></li>
      <% else %>
        <li><a href="<%= part[:url] %>"><%= part[:name] %></a></li>
      <% end %>
    <% end %>
  </ul>

  <div class="btn-toolbar">
    <a href="#" class="btn btn-xs btn-default">
      <%= t ".create_directory" %>
    </a>
    <a href="#" class="btn btn-xs btn-default">
      <%= t ".upload_file" %>
    </a>
  </div>
</div>

<table class="browser-table">
  <thead>
    <tr>
      <th class="column-icon"></th>
      <th class="column-name"><%= t('.name_column') %></th>
      <th class="column-size"><%= t('.size_column') %></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do | item | %>
      <tr>
        <td class="column-icon">
          <%= image_tag create_item_preview_link(item, 24) %>
        </td>
        <td class="column-name"><%= link_to item.name, create_item_link(item) %></td>
        <td class="column-size">
          <% if item.type != 'directory' %>
            <%= item.human_size %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>