<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="<%= image_path "ownbox.png" %>" />
                <span><%= Settings.app_name %></span>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <% if authenticated? %>
                <li>
                    <%= bt_button id: "private-data", text: t(".private_data"), icon: "home", 
                                  href: current_user_items_index_path, style: :link %>
                </li>
                <li>
                    <%= bt_button id: "shared-data", text: t(".shared_data"), icon: "group", 
                                  href: shares_index_path, style: :link %>
                </li>
            <% end %>       
        </ul>
        <ul class="nav navbar-nav navbar-right nav-condensed">
            <% if authenticated? %>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <%= current_user.display_name %> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li role="presentation" class="dropdown-header"><%= current_user.display_name %></li>
                        <li role="presentation" class="dropdown-header"><%= current_user.email %></li>
                        <li role="presentation" class="divider"></li>
                        <li role="button">
                            <%= link_with_icon t(".settings"), "gears", settings_edit_profile_path %>
                        </li>
                        <li role="button">
                            <%= link_with_icon t(".logout"), "sign-out", logout_path %>
                        </li>
                    </ul>
                </li>
            <% else %>
                <li role="button">
                    <%= link_with_icon "", "sign-in", login_path %>
                </li>
            <% end %>
        </ul>
</div>
</div>