<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= Settings.app_name %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag params[:controller], media: "all" %>
    <%= yield :styles %>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="site-content">
        <%= render 'layouts/navbar' %>
        <div class="container">
            <%= render('layouts/messages') if !@hide_messages %>
            <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
    </div>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag params[:controller] %>
    <%= yield :scripts %>
</body>
</html>